@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./src/input.css -o ./src/output.css --watch */

@layer utilities{
    body{
        font-family: "Poppins", "Parkinsans";
        overflow-x:hidden; ;
    }
    input[type='checkbox']{
     
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 2px solid currentColor;
        background-color: transparent;
        transition: background-color 0.2s ease-in-out;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after{
        display: flex;
      
        justify-content: center;
        align-items: center;
        font-size: 25px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    
        }
        

}
